@charset "utf-8";
/* CSS Document */

body{
  font-family: "Arial";
  margin:0;
  height: auto;
  color:dimgrey;
  width: 100%; 	
}
.clear{
	clear: both;
}
.header{
	background-image:url(hinh/utro-kofe-cosmetics-ladies-macaroons-marshmallow-kosmetika-m.jpg);
	height:250px;
	
}
.top-header {
	height: 190px;
	
}
.container{
	width: 960px;
	height: 100%;
	margin: auto;
	  
}
.top-header {
	height: 60px;
	padding-top:20px;
	}

    .logo {
	float:left;
    padding-top:5px
	
    
}
    .right-menu {
	float: right;
}

.nav {
	float: left;	
    margin:0;
	 padding:0; 
	 list-style:none;
}

.nav li {
	padding-top: 20px;
	padding-left: 20px;
	float: left;
}
	
.nav>li>a {
	text-decoration: none;
	color:white;;
	font-size: 18px;
	background-color:saddlebrown;
	border-radius: 5px;
	padding:5px 8px
}

.bottom-header{
   height: 100px;
}

.header-left{
    float: left;
	margin-left:20px;
	color:saddlebrown;
}
.header-right{
	margin-right: 90px;
	font-size:15px;
	text-transform:uppercase;
	list-style:none;
	float: right;
	}
.header-right>ul>li{
	color:saddlebrown;
	}	

.button{
 background-color: white;
}

.content{
	margin-top: 0px;
	padding-top:20px;
	height: 270px;
	
}
.colums{
	background-color:#e5d2c3;
	width:300px;
	height:280px;
	float: left;
	margin-left: 20px;
	text-align: center;
	border-radius:10px;
}

.colums>h1{
color:saddlebrown;
}

.colums>.p{
	color:dimgrey;
	margin-top:15px;
}

.colums>h1{
    margin-top:15px;
}

.colums>img{
	padding-top:5px;
}

.content>.colums>img{
	margin-top: 10px;
}

.banner{
	height: 130px;
	margin-top: 30px;
	text-align: center;
}

.banner-left{
	color:saddlebrown;
}

.banner-left>p{
	color:dimgrey;
}

.banner-left>h1{
	font-size:50px;
}

.demo{
	margin-top:10px;
	 height:480px;
	width: 100%;
	
}

.demos{
	border-top: 2px solid saddlebrown;
}

.cloud{
	margin-top: 70px;
	height:360px;
	text-align:center;
	float:left;
	width:350px;
}

.boss{
	margin-top: 20px;
	width:550px;
	float:right;
	height:420px;
	color:saddlebrown;
}

.boss>p{
	color: dimgrey;
}

.wood {
	width:200px;
	height:60px;
	float: left;
	color: dimgrey;
	margin-left: 10px;
}

.wood>button{
	
	color:saddlebrown;
	border-radius:5px;
}

.wood>button>a{
	color: saddlebrown;
	text-decoration: none;
}
.product{
	 background-color:#f0f1f3;	
}
.do {

 width: 960px;
 text-align: center;
 margin-top: 20px;
 height:200px;
 display: inline-block;
 border-bottom: 2px solid saddlebrown;
 left: 50%;
 top: 50%;
 display:block;
}
.do>img{
	padding-top:40px;
	margin-left:50px;
}
.buy {
	width:900px;
	float: left;	
    margin: 0;
	 padding:0; 
	 list-style:none;	 
    
}
.buy>li{
	padding-top: 20px;
	padding-left: 20px;
	float: left;
	 margin-left:40px;
	
	}
	
.buy>li>a {
	margin-left: 10px;
	text-decoration: none;
	color:white;;
	font-size: 18px;
	background-color:saddlebrown;
	border-radius: 5px;
	padding:5px 8px
}
.middle{
	background-color:#f0f1f3;
}
.three-columns{
	
	width: 900px;
	height: 400px;
	margin:0 auto 0 auto;
	padding-top: 10px;
}
.three-columns>.columns{
	width:270px;
	height: 350px;
	text-align: center;
	float:left;
	margin-left: 10px;
}
.three-columns>.columns>img{
	width: 95%;
	height: 180px;
	margin-top:5px;
	transition-duration: 0.5s;
	
}
.three-columns>.columns>img:hover{
	width: 100%;
}
.three-columns>.columns>.text{
	text-align: left;
	float: right;
}
.three-columns>.columns>.text>.title{
	color:dimgrey;
	font-style: italic;
	font-size: 20px;
	font-weight: bold;
	font-family: custom-font;
}
.three-columns>.columns>.text>p{
	color:dimgrey;
	font-size: 15px;
	font-family: custom-font1;
}
.three-columns>.columns>.text>.readmore{
	float: right;
	color: saddlebrown;
	text-decoration: none;
}
.price{
	height: 400px;
	text-align: center;
	margin-bottom: 10px;
}
.top-price{
	width:250px;
	height: 370px;
	text-align: center;
	float:left;
	margin-left: 20px;
	
}

.top{
	margin-left: 20px;
    height: 70px;
}

 .name{
	font-size:30px;
	margin-bottom: 10px;
}

.bottom{
	height:260px;
	margin-left: 20px;
	padding-top:20px;
	
	
}

.bottom>ul{
list-style: none;
margin: 0;	
}

.bottom>ul>li{
	margin-right:25px;
    padding-top: 10px;
	padding-bottom:10px;
	border-bottom: 1px solid saddlebrown;
    margin-top:5px;
}
.toop{
  margin-left: 20px;
  height: 70px;	
}

.bebmw{
	height:290px;
	margin-left: 20px;
	padding-top:20px;
	
}

.botttom {
	    border-style: double;
        border-color: white;
		width:  220px;
		height: 180px;
		background:#e5d2c3;
		margin-left: 10px;
    }
	
.bebos>p{
margin-left:10px;
}
.local{
	margin-left: 50px;
}
.toyota{
	    border-style: double;
        border-color: white;
		
		height: 45px;
		background:#e5d2c3;
		margin-left: 50px;
}
.bought{
	border-style: double;
        border-color: white;
		
		height: 45px;
		background:#e5d2c3;
		margin-left: 50px;
}
.button{
	margin-left: 100px;
	width:100px;
	height:30px;
	color: saddlebrown;
	text-decoration: none;
	background-color: #f0f1f3;
	border-radius:5px;
	padding-top:10px;

}
.button .readmore{
	color: saddlebrown;
	text-decoration: none;
}

.footer {
	margin-top: 10px;
	height: 60px;
	background-image:url(hinh/utro-kofe-cosmetics-ladies-macaroons-marshmallow-kosmetika-m.jpg);
	color: dimgrey;

}
.footer>p{
	padding-top: 20px;
}

.term a {
	margin-left: 20px;
	color: dimgrey;
	text-decoration: none;
}

